.fon{
    background: url("/webroot/img/fonAdminAdd.jpg") no-repeat;
    height: 700px;
    background-size: cover;
}
input::-webkit-input-placeholder { color: #FFC108; }
.row_input{
    font-size: 20px;
    border: 2px solid #fe8e1a;
    height: 50px;
    width: 400px;
    background-color: rgba(254,142,26, 0.4);
}
textarea::-webkit-input-placeholder { color: #FFC108; }
.description{
    font-size: 20px;
    border: 2px solid #fe8e1a;
    height: 100%;
    width: 100%;
    background-color: rgba(254,142,26, 0.4);
}
h1{
    color: #fff;
}
button{
    color: #fff;
    background-color: #F55A37;
}