.contact{
    background: url("/webroot/img/fonContact.png") no-repeat;
    height: 1500px;
    background-size: cover;
}
.container{
    background-color: #00b3ff;
    width: 950px;
    height: 1500px;
}
input::-webkit-input-placeholder { color: #fff; }
.name{
    font-size: 20px;
    border: 2px solid #00CFF3;
    height: 50px;
    width: 100%;
    background-color: #00CFF3;
    border-radius: 7px;
}
.email{
    font-size: 20px;
    border: 2px solid #00CFF3;
    height: 50px;
    width: 100%;
    background-color: #00CFF3;
    border-radius: 7px;
}
textarea::-webkit-input-placeholder { color: #fff; }
.comment{
    font-size: 20px;
    border: 2px solid #00CFF3;
    height: 150px;
    width: 100%;
    background-color: #00CFF3;
    border-radius: 7px;
}
h1{
    color: #fff;
}
.msg{
    font-size: 20px;
    border: 2px solid #00CFF3;
    height: 150px;
    width: 400px;
    background-color: #00CFF3;
    border-radius: 7px;
}